.heading {
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    color: $yellow;
}

@media (max-width: 920px) {
    .heading {
        font-size: 43px;
        line-height: 43px;
    }
}