.page-header {
    padding-top: calc(50vh - 305.5px);
    margin-bottom: 73px;
}

.page-header__subheading {
    margin: 0;
    padding: 0;

    order: -1;
}

.page-header__heading {
    margin: 0;
    padding: 0;

    margin-top: -1px;
}

@media (max-width: 920px) {
    .page-header {
        margin-bottom: 0;
    }

    .page-header__subheading {
        margin-left: -2px;
    }

    @media (max-height: 640px) {
        .page-header {
            margin-top: 30px;
        }
    }
}