.page-main {
    padding-bottom: 100px;

    position: relative;

    &::after {
        content: "© Designed by SXRRYBRX";

        color: $grey;

        position: absolute;
        left: calc(50% - 60px);
        bottom: 0;
    }
}