.page-main {
    position: relative;
}

.page-main__contacts {
    position: absolute;
    top: -180px;
    right: 30px;
}

@media (max-width: 920px) {
    .page-main__contacts {

        top: 350px;
        right: 31px;
    }    
}