.slide-projects {
    width: 900px;

    flex-shrink: 0;
}

.slide-projects__list {
    max-height: 280px;
    padding-right: 40px;
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.slide-projects__item {
    margin-bottom: 37px;

    &:not(:nth-child(3n)) {
        margin-right: 19px;
    }
}

.slide-projects__link {
    // max-width: 277px;
    width: 277px;
    min-height: 120px;
    padding-left: 14px;
    padding-top: 14px;

    text-decoration: none;
    border-radius: 10px;

    background-color: rgba(47, 53, 62, 0);

    display: flex;
    flex-direction: column;

    &:hover {
        background-color: rgba(47, 53, 62, 1);
    }
}

.slide-projects__title {
    margin-bottom: 8px;

    font-weight: 600;
    font-size: 22px;
    color: $yellow;
    text-transform: uppercase;
}

.slide-projects__paragraph {
    margin: 0;

    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: $grey;
}

@media (max-width: 920px) {
    .slide-projects {
        width: 280px;
        margin-top: 20px;

        overflow-y: scroll;
    }

    .slide-projects__list {
        margin-top: 20px;
    }

    .slide-projects__item {
        &:not(:nth-child(3n)) {
            margin-right: 10px;
        }

        margin-right: 10px;
        margin-bottom: 10px;
    }

    .slide-projects__link {
        width: 130px;
        min-height: 169px;

        background-color: rgba(47, 53, 62, 1);

        &:hover {
            opacity: 0.6;
        }
    }

    .slide-projects__title {
        min-height: 48px;
        margin-top: -8px;
        margin-left: -5px;
        margin-bottom: 13px;

        font-size: 16px;
        line-height: 24px;
    }

    .slide-projects__paragraph {
        margin-left: -5px;

        font-size: 16px;
        line-height: 24px;
    }    
}