.slide-about {
    width: 870px;

    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.slide-about__photo {
    clip-path: url(#clip_path);
}

.slide-about__paragraph {
    width: 573px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 60px;

    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: $grey;
}

.slide-about__list {
    max-height: 100px;

    list-style: none;
    display: flex;
    flex-direction: row;

    transform: translate(258px, -63px);
}

.slide-about__item {
    margin: 0;
    padding: 0;

    &:first-child {
        margin-right: 150px;
    }
}

.slide-about__link {
    margin-left: 30px;

    text-decoration: none;

    font-weight: 400;
    font-size: 22px;
    color: $yellow;

    position: relative;

    &:hover::after {
        bottom: 0;
        opacity: 1;
    }

    &::after {
        content: "";
        width: 94%;
        height: 2px;
        background-color: $yellow;

        position: absolute;
        bottom: -5px;
        left: 2px;

        opacity: 0;
    }

    &::before {
        content: "";
        width: 27px;
        height: 27px;

        position: absolute;
        left: -31px;
        top: 4px;

        background-repeat: no-repeat;
    }

    &--document::before {
        background-image: url("../img/icon-document.svg");
    }

    &--github::before {
        left: -38px;
        background-image: url("../img/icon-github-small-orange.svg");
    }
}

@media (max-width: 920px) {
    .slide-about {
        width: 280px;
        max-height: 382px;
    }

    .slide-about__photo {
        transform: scale(0.475) translate(-131px, -100px);
    }

    .slide-about__list {
        order: 2;

        transform: translate(106px, -226px);

        flex-direction: column;
    }
    
    .slide-about__item {
        margin-bottom: 22px;

        &:first-child {
            margin-right: 0;
        }
    }

    .slide-about__link {
        font-size: 16px;
        line-height: 24px;

        &::before {
            left: -30px;
            top: -3px;
        }

        &--github::before {
            left: -33px;
        }
    }

    .slide-about__paragraph {
        width: 280px;
        max-height: 150px;

        margin-top: -208px;
        margin-left: 0;

        font-size: 16px;
        line-height: 24px;

        order: 3;
    }

    @media (max-height: 590px) {
        .slide-about__paragraph {
            margin-top: -220px;
        }
    }

    @media (max-height: 567px) {
        .slide-about__paragraph {
            font-size: 13px;
            line-height: 16px;
        }
    }
}

