.slider {
    width: 100%;
}

.slider__wrapper {
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.slider__slides {
    // width: 1740px;
    width: 1760px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

// .slider__slide {

// }

.slider__controls {
    width: 100%;
    margin-top: 32px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 2;
}

.slider__radio {
    display: none;
}

.slider__button {
    width: 435px;
    height: 121px;

    font-weight: 400;
    font-size: 32px;
    color: $grey;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    cursor: pointer;

    &::before {
        content: "";
        width: 100%;
        height: 1px;

        position: absolute;
        top: 4px;

        background-color: #30475E;
        transition: 200ms all ease-in-out;
    }

    #about:checked ~ .slider__controls &:first-child {
        color: $white;

        &::before {
            height: 7px;

            top: 1px;

            background-color: $orange;
        }
    }

    #projects:checked ~ .slider__controls &:last-child {
        color: $white;

        &::before {
            height: 7px;

            top: 1px;

            background-color: $orange;
        }
    }
}

.slider__button-text {
    margin-top: 3px;
    margin-left: -8px;

    transition: 300ms all ease-in-out;

    #about:checked ~ .slider__controls .slider__button:first-child & {
        margin-top: -15px;
    }

    #projects:checked ~ .slider__controls .slider__button:last-child & {
        margin-top: -15px;
    }

    &--margin {
        margin-left: 10px;
    }
}