.slider {
    width: 100%;
}

.slider__wrapper {
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.slider__slides {
    width: 1740px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;

    #projects:checked ~ .background & {
        transform: translateX(-50%);
    }
}

.slider__controls {
    width: 100%;
    margin-top: 32px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 2;

    position: relative;

    &::before {
        content: "";
        width: 426px;
        height: 7px;

        position: absolute;
        left: 0;
        top: 1px;

        background-color: $yellow;
        z-index: 2;
    }

    #projects:checked ~ .background &::before {
        transform: translateX(444px);
    }
}

.slider__radio {
    display: none;
}

.slider__button {
    width: 435px;
    height: 121px;

    font-weight: 400;
    font-size: 32px;
    color: $grey;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &::after {
        content: "";
        width: 100%;
        height: 1px;

        position: absolute;
        top: 4px;

        background-color: #30475E;
    }

    #about:checked ~ .background &:first-child {
        color: $white;
    }

    #projects:checked ~ .background &:last-child {
        color: $white;
    }
}

.slider__button-text {
    margin-top: 3px;
    margin-left: -8px;

    cursor: pointer;

    #about:checked ~ .background .slider__button:first-child & {
        margin-top: -15px;
    }

    #projects:checked ~ .background .slider__button:last-child & {
        margin-top: -15px;
    }

    &:hover {
        color: $white;

        margin-top: -15px;
    }

    &--margin {
        margin-left: 10px;
    }
}

@media (max-width: 920px) {
    .slider__wrapper {
        display: flex;
        flex-direction: column;
    }

    .slider__slides {
        width: 560px;
        height: 68vh;

        align-content: flex-start;
    }

    .slider__controls {
        width: 280px;
        margin-top: 0;

        position: fixed;
        bottom: 0;

        z-index: 1000;

        &::before {
            width: 135px;
            height: 5px;

            top: 2px;
        }

        #projects:checked ~ .background &::before {
            transform: translateX(145px);
        }
    }

    .slider__button {
        height: 89px;

        font-size: 24px;
        line-break: 24px;
    }

    @media (min-height: 550px) {
        .slider__controls {
            position: fixed;
            bottom: 0;
        }
    }

    @media (max-height: 568px) {
        .slider__slides {
            height: 53vh;
        }

    // @media (max-height: 640px) {
    //     .slider__slides {
    //         height: 55vh;
    //     }

        .slider__button {
            height: 60px;
		}
		
		.slider__button-text {
			#about:checked ~ .background .slider__button:first-child & {
				margin-top: -5px;
			}
		
			#projects:checked ~ .background .slider__button:last-child & {
				margin-top: -5px;
			}
		}
		
    }
}