.wrapper {
    width: 930px;
    margin: 0 auto;
    padding: 0 30px;

    display: flex;

    &--header {
        flex-direction: column;
    }

    &--main {
        position: relative;
    }
}

@media (max-width: 920px) {
    .wrapper {
        width: 340px;
    }
}

@media (max-width: 320px) {
    .wrapper {
        width: 296px;
        padding: 0 8px;
    }
}